
@media screen and (min-width: 769px) {
    .mdl-layout__drawer { display: none; background-color: #2a7ae2;}
    .mdl-layout__drawer-button { display: none; background-color: #2a7ae2;}
}

@media screen and (max-width: 769px) {
    .main_gone {display: none;}
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.image_fix {
    background-color: transparent;
}
.mdl-mini-footer__social-btn{
    background-color: transparent;
}