body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.logo{
    margin-top: 5px;
    margin-left: 5px;
}
.sidenav{
    background-color: lightgray;
    height: 100%;
}

.content{
    background-color: #2a7ae2;
}