<!-------------------------------------------------------Start nav-------------------------------------------------------------->
<nav class="teal">
    <div class="nav-wrapper z-depth-2">
        <a href="/index.html" class="brand-logo logo"><img src="/assets/android-icon-48x48.png"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>


        <ul class="right hide-on-med-and-down">
            <li><a href="/index.html"><i class="material-icons">home</i></a></li>
            <li><a href="/scholen/index.html">Scholen</a></li>
            <li><a href="/speelterreinen/index.html">Speelterreinen</a></li>
            <li><a href="/funding/index.html">Funding</a></li>
            <li><a href="/contact/index.html">Contact</a></li>
            <li><a href="/login/index.html"> <i class="material-icons">perm_identity</i></a></li>

        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/index.html"><i class="material-icons">home</i></a></li>
            <li><a href="/scholen/index.html">Scholen</a></li>
            <li><a href="/speelterreinen/index.html">Speelterreinen</a></li>
            <li><a href="/funding/index.html">Funding</a></li>
            <li><a href="/contact/index.html">Contact</a></li>
            <li><a href="/login/index.html"> <i class="material-icons">perm_identity</i></a></li>
        </ul>
    </div>
</nav>
<!-----------------------------------------------------------end nav---------------------------------------------------------->
